[mdc-theme] {
    /* <element mdc-theme="<[dark|light|system]>"> */
    --theme-label: Material Design (Color Theme 1);
}

[mdc-theme="dark"] {
    --mdc-primary: rgb(131 210 229);
    --mdc-surface-tint: rgb(131 210 229);
    --mdc-on-primary: rgb(0 54 63);
    --mdc-primary-container: rgb(0 78 91);
    --mdc-on-primary-container: rgb(167 238 255);
    --mdc-secondary: rgb(178 203 210);
    --mdc-on-secondary: rgb(28 52 57);
    --mdc-secondary-container: rgb(51 74 80);
    --mdc-on-secondary-container: rgb(205 231 238);
    --mdc-tertiary: rgb(189 197 235);
    --mdc-on-tertiary: rgb(39 47 77);
    --mdc-tertiary-container: rgb(62 69 101);
    --mdc-on-tertiary-container: rgb(220 225 255);
    --mdc-error: rgb(255 180 171);
    --mdc-on-error: rgb(105 0 5);
    --mdc-error-container: rgb(147 0 10);
    --mdc-on-error-container: rgb(255 218 214);
    --mdc-background: rgb(15 20 22);
    --mdc-on-background: rgb(222 227 229);
    --mdc-surface: rgb(15 20 22);
    --mdc-on-surface: rgb(222 227 229);
    --mdc-surface-variant: rgb(63 72 75);
    --mdc-on-surface-variant: rgb(191 200 203);
    --mdc-outline: rgb(137 146 149);
    --mdc-outline-variant: rgb(63 72 75);
    --mdc-shadow: rgb(0 0 0);
    --mdc-scrim: rgb(0 0 0);
    --mdc-inverse-surface: rgb(222 227 229);
    --mdc-inverse-on-surface: rgb(43 49 51);
    --mdc-inverse-primary: rgb(0 104 120);
    --mdc-primary-fixed: rgb(167 238 255);
    --mdc-on-primary-fixed: rgb(0 31 37);
    --mdc-primary-fixed-dim: rgb(131 210 229);
    --mdc-on-primary-fixed-variant: rgb(0 78 91);
    --mdc-secondary-fixed: rgb(205 231 238);
    --mdc-on-secondary-fixed: rgb(5 31 36);
    --mdc-secondary-fixed-dim: rgb(178 203 210);
    --mdc-on-secondary-fixed-variant: rgb(51 74 80);
    --mdc-tertiary-fixed: rgb(220 225 255);
    --mdc-on-tertiary-fixed: rgb(18 26 55);
    --mdc-tertiary-fixed-dim: rgb(189 197 235);
    --mdc-on-tertiary-fixed-variant: rgb(62 69 101);
    --mdc-surface-dim: rgb(15 20 22);
    --mdc-surface-bright: rgb(52 58 60);
    --mdc-surface-container-lowest: rgb(9 15 17);
    --mdc-surface-container-low: rgb(23 29 30);
    --mdc-surface-container: rgb(27 33 34);
    --mdc-surface-container-high: rgb(37 43 45);
    --mdc-surface-container-highest: rgb(48 54 55);
}

[mdc-theme="light"] {
    --mdc-primary: rgb(0 104 120);
    --mdc-surface-tint: rgb(0 104 120);
    --mdc-on-primary: rgb(255 255 255);
    --mdc-primary-container: rgb(167 238 255);
    --mdc-on-primary-container: rgb(0 31 37);
    --mdc-secondary: rgb(75 98 104);
    --mdc-on-secondary: rgb(255 255 255);
    --mdc-secondary-container: rgb(205 231 238);
    --mdc-on-secondary-container: rgb(5 31 36);
    --mdc-tertiary: rgb(85 93 126);
    --mdc-on-tertiary: rgb(255 255 255);
    --mdc-tertiary-container: rgb(220 225 255);
    --mdc-on-tertiary-container: rgb(18 26 55);
    --mdc-error: rgb(186 26 26);
    --mdc-on-error: rgb(255 255 255);
    --mdc-error-container: rgb(255 218 214);
    --mdc-on-error-container: rgb(65 0 2);
    --mdc-background: rgb(245 250 252);
    --mdc-on-background: rgb(23 29 30);
    --mdc-surface: rgb(245 250 252);
    --mdc-on-surface: rgb(23 29 30);
    --mdc-surface-variant: rgb(219 228 231);
    --mdc-on-surface-variant: rgb(63 72 75);
    --mdc-outline: rgb(111 121 123);
    --mdc-outline-variant: rgb(191 200 203);
    --mdc-shadow: rgb(0 0 0);
    --mdc-scrim: rgb(0 0 0);
    --mdc-inverse-surface: rgb(43 49 51);
    --mdc-inverse-on-surface: rgb(236 242 243);
    --mdc-inverse-primary: rgb(131 210 229);
    --mdc-primary-fixed: rgb(167 238 255);
    --mdc-on-primary-fixed: rgb(0 31 37);
    --mdc-primary-fixed-dim: rgb(131 210 229);
    --mdc-on-primary-fixed-variant: rgb(0 78 91);
    --mdc-secondary-fixed: rgb(205 231 238);
    --mdc-on-secondary-fixed: rgb(5 31 36);
    --mdc-secondary-fixed-dim: rgb(178 203 210);
    --mdc-on-secondary-fixed-variant: rgb(51 74 80);
    --mdc-tertiary-fixed: rgb(220 225 255);
    --mdc-on-tertiary-fixed: rgb(18 26 55);
    --mdc-tertiary-fixed-dim: rgb(189 197 235);
    --mdc-on-tertiary-fixed-variant: rgb(62 69 101);
    --mdc-surface-dim: rgb(213 219 221);
    --mdc-surface-bright: rgb(245 250 252);
    --mdc-surface-container-lowest: rgb(255 255 255);
    --mdc-surface-container-low: rgb(239 244 246);
    --mdc-surface-container: rgb(233 239 241);
    --mdc-surface-container-high: rgb(228 233 235);
    --mdc-surface-container-highest: rgb(222 227 229);
}

[mdc-theme="dark mediumContrast"] {
    --mdc-primary: rgb(136 214 233);
    --mdc-surface-tint: rgb(131 210 229);
    --mdc-on-primary: rgb(0 25 31);
    --mdc-primary-container: rgb(75 156 173);
    --mdc-on-primary-container: rgb(0 0 0);
    --mdc-secondary: rgb(182 207 214);
    --mdc-on-secondary: rgb(1 25 31);
    --mdc-secondary-container: rgb(124 149 155);
    --mdc-on-secondary-container: rgb(0 0 0);
    --mdc-tertiary: rgb(194 201 239);
    --mdc-on-tertiary: rgb(12 20 49);
    --mdc-tertiary-container: rgb(136 143 179);
    --mdc-on-tertiary-container: rgb(0 0 0);
    --mdc-error: rgb(255 186 177);
    --mdc-on-error: rgb(55 0 1);
    --mdc-error-container: rgb(255 84 73);
    --mdc-on-error-container: rgb(0 0 0);
    --mdc-background: rgb(15 20 22);
    --mdc-on-background: rgb(222 227 229);
    --mdc-surface: rgb(15 20 22);
    --mdc-on-surface: rgb(246 252 253);
    --mdc-surface-variant: rgb(63 72 75);
    --mdc-on-surface-variant: rgb(195 204 207);
    --mdc-outline: rgb(155 164 167);
    --mdc-outline-variant: rgb(123 133 135);
    --mdc-shadow: rgb(0 0 0);
    --mdc-scrim: rgb(0 0 0);
    --mdc-inverse-surface: rgb(222 227 229);
    --mdc-inverse-on-surface: rgb(37 43 45);
    --mdc-inverse-primary: rgb(0 80 92);
    --mdc-primary-fixed: rgb(167 238 255);
    --mdc-on-primary-fixed: rgb(0 20 24);
    --mdc-primary-fixed-dim: rgb(131 210 229);
    --mdc-on-primary-fixed-variant: rgb(0 60 70);
    --mdc-secondary-fixed: rgb(205 231 238);
    --mdc-on-secondary-fixed: rgb(0 20 24);
    --mdc-secondary-fixed-dim: rgb(178 203 210);
    --mdc-on-secondary-fixed-variant: rgb(34 58 63);
    --mdc-tertiary-fixed: rgb(220 225 255);
    --mdc-on-tertiary-fixed: rgb(7 15 44);
    --mdc-tertiary-fixed-dim: rgb(189 197 235);
    --mdc-on-tertiary-fixed-variant: rgb(45 53 83);
    --mdc-surface-dim: rgb(15 20 22);
    --mdc-surface-bright: rgb(52 58 60);
    --mdc-surface-container-lowest: rgb(9 15 17);
    --mdc-surface-container-low: rgb(23 29 30);
    --mdc-surface-container: rgb(27 33 34);
    --mdc-surface-container-high: rgb(37 43 45);
    --mdc-surface-container-highest: rgb(48 54 55);
}

[mdc-theme="light mediumContrast"] {
    --mdc-primary: rgb(0 74 86);
    --mdc-surface-tint: rgb(0 104 120);
    --mdc-on-primary: rgb(255 255 255);
    --mdc-primary-container: rgb(40 127 144);
    --mdc-on-primary-container: rgb(255 255 255);
    --mdc-secondary: rgb(47 70 76);
    --mdc-on-secondary: rgb(255 255 255);
    --mdc-secondary-container: rgb(97 120 127);
    --mdc-on-secondary-container: rgb(255 255 255);
    --mdc-tertiary: rgb(58 65 97);
    --mdc-on-tertiary: rgb(255 255 255);
    --mdc-tertiary-container: rgb(107 115 149);
    --mdc-on-tertiary-container: rgb(255 255 255);
    --mdc-error: rgb(140 0 9);
    --mdc-on-error: rgb(255 255 255);
    --mdc-error-container: rgb(218 52 46);
    --mdc-on-error-container: rgb(255 255 255);
    --mdc-background: rgb(245 250 252);
    --mdc-on-background: rgb(23 29 30);
    --mdc-surface: rgb(245 250 252);
    --mdc-on-surface: rgb(23 29 30);
    --mdc-surface-variant: rgb(219 228 231);
    --mdc-on-surface-variant: rgb(59 68 71);
    --mdc-outline: rgb(88 97 99);
    --mdc-outline-variant: rgb(115 124 127);
    --mdc-shadow: rgb(0 0 0);
    --mdc-scrim: rgb(0 0 0);
    --mdc-inverse-surface: rgb(43 49 51);
    --mdc-inverse-on-surface: rgb(236 242 243);
    --mdc-inverse-primary: rgb(131 210 229);
    --mdc-primary-fixed: rgb(40 127 144);
    --mdc-on-primary-fixed: rgb(255 255 255);
    --mdc-primary-fixed-dim: rgb(0 101 117);
    --mdc-on-primary-fixed-variant: rgb(255 255 255);
    --mdc-secondary-fixed: rgb(97 120 127);
    --mdc-on-secondary-fixed: rgb(255 255 255);
    --mdc-secondary-fixed-dim: rgb(72 96 102);
    --mdc-on-secondary-fixed-variant: rgb(255 255 255);
    --mdc-tertiary-fixed: rgb(107 115 149);
    --mdc-on-tertiary-fixed: rgb(255 255 255);
    --mdc-tertiary-fixed-dim: rgb(83 90 123);
    --mdc-on-tertiary-fixed-variant: rgb(255 255 255);
    --mdc-surface-dim: rgb(213 219 221);
    --mdc-surface-bright: rgb(245 250 252);
    --mdc-surface-container-lowest: rgb(255 255 255);
    --mdc-surface-container-low: rgb(239 244 246);
    --mdc-surface-container: rgb(233 239 241);
    --mdc-surface-container-high: rgb(228 233 235);
    --mdc-surface-container-highest: rgb(222 227 229);
}

[mdc-theme="dark highContrast"] {
    --mdc-primary: rgb(243 252 255);
    --mdc-surface-tint: rgb(131 210 229);
    --mdc-on-primary: rgb(0 0 0);
    --mdc-primary-container: rgb(136 214 233);
    --mdc-on-primary-container: rgb(0 0 0);
    --mdc-secondary: rgb(243 252 255);
    --mdc-on-secondary: rgb(0 0 0);
    --mdc-secondary-container: rgb(182 207 214);
    --mdc-on-secondary-container: rgb(0 0 0);
    --mdc-tertiary: rgb(252 250 255);
    --mdc-on-tertiary: rgb(0 0 0);
    --mdc-tertiary-container: rgb(194 201 239);
    --mdc-on-tertiary-container: rgb(0 0 0);
    --mdc-error: rgb(255 249 249);
    --mdc-on-error: rgb(0 0 0);
    --mdc-error-container: rgb(255 186 177);
    --mdc-on-error-container: rgb(0 0 0);
    --mdc-background: rgb(15 20 22);
    --mdc-on-background: rgb(222 227 229);
    --mdc-surface: rgb(15 20 22);
    --mdc-on-surface: rgb(255 255 255);
    --mdc-surface-variant: rgb(63 72 75);
    --mdc-on-surface-variant: rgb(243 252 255);
    --mdc-outline: rgb(195 204 207);
    --mdc-outline-variant: rgb(195 204 207);
    --mdc-shadow: rgb(0 0 0);
    --mdc-scrim: rgb(0 0 0);
    --mdc-inverse-surface: rgb(222 227 229);
    --mdc-inverse-on-surface: rgb(0 0 0);
    --mdc-inverse-primary: rgb(0 47 55);
    --mdc-primary-fixed: rgb(182 240 255);
    --mdc-on-primary-fixed: rgb(0 0 0);
    --mdc-primary-fixed-dim: rgb(136 214 233);
    --mdc-on-primary-fixed-variant: rgb(0 25 31);
    --mdc-secondary-fixed: rgb(210 235 242);
    --mdc-on-secondary-fixed: rgb(0 0 0);
    --mdc-secondary-fixed-dim: rgb(182 207 214);
    --mdc-on-secondary-fixed-variant: rgb(1 25 31);
    --mdc-tertiary-fixed: rgb(226 229 255);
    --mdc-on-tertiary-fixed: rgb(0 0 0);
    --mdc-tertiary-fixed-dim: rgb(194 201 239);
    --mdc-on-tertiary-fixed-variant: rgb(12 20 49);
    --mdc-surface-dim: rgb(15 20 22);
    --mdc-surface-bright: rgb(52 58 60);
    --mdc-surface-container-lowest: rgb(9 15 17);
    --mdc-surface-container-low: rgb(23 29 30);
    --mdc-surface-container: rgb(27 33 34);
    --mdc-surface-container-high: rgb(37 43 45);
    --mdc-surface-container-highest: rgb(48 54 55);
}

[mdc-theme="light highContrast"] {
    --mdc-primary: rgb(0 38 46);
    --mdc-surface-tint: rgb(0 104 120);
    --mdc-on-primary: rgb(255 255 255);
    --mdc-primary-container: rgb(0 74 86);
    --mdc-on-primary-container: rgb(255 255 255);
    --mdc-secondary: rgb(13 37 43);
    --mdc-on-secondary: rgb(255 255 255);
    --mdc-secondary-container: rgb(47 70 76);
    --mdc-on-secondary-container: rgb(255 255 255);
    --mdc-tertiary: rgb(25 33 62);
    --mdc-on-tertiary: rgb(255 255 255);
    --mdc-tertiary-container: rgb(58 65 97);
    --mdc-on-tertiary-container: rgb(255 255 255);
    --mdc-error: rgb(78 0 2);
    --mdc-on-error: rgb(255 255 255);
    --mdc-error-container: rgb(140 0 9);
    --mdc-on-error-container: rgb(255 255 255);
    --mdc-background: rgb(245 250 252);
    --mdc-on-background: rgb(23 29 30);
    --mdc-surface: rgb(245 250 252);
    --mdc-on-surface: rgb(0 0 0);
    --mdc-surface-variant: rgb(219 228 231);
    --mdc-on-surface-variant: rgb(29 37 40);
    --mdc-outline: rgb(59 68 71);
    --mdc-outline-variant: rgb(59 68 71);
    --mdc-shadow: rgb(0 0 0);
    --mdc-scrim: rgb(0 0 0);
    --mdc-inverse-surface: rgb(43 49 51);
    --mdc-inverse-on-surface: rgb(255 255 255);
    --mdc-inverse-primary: rgb(199 243 255);
    --mdc-primary-fixed: rgb(0 74 86);
    --mdc-on-primary-fixed: rgb(255 255 255);
    --mdc-primary-fixed-dim: rgb(0 50 59);
    --mdc-on-primary-fixed-variant: rgb(255 255 255);
    --mdc-secondary-fixed: rgb(47 70 76);
    --mdc-on-secondary-fixed: rgb(255 255 255);
    --mdc-secondary-fixed-dim: rgb(24 48 54);
    --mdc-on-secondary-fixed-variant: rgb(255 255 255);
    --mdc-tertiary-fixed: rgb(58 65 97);
    --mdc-on-tertiary-fixed: rgb(255 255 255);
    --mdc-tertiary-fixed-dim: rgb(35 43 73);
    --mdc-on-tertiary-fixed-variant: rgb(255 255 255);
    --mdc-surface-dim: rgb(213 219 221);
    --mdc-surface-bright: rgb(245 250 252);
    --mdc-surface-container-lowest: rgb(255 255 255);
    --mdc-surface-container-low: rgb(239 244 246);
    --mdc-surface-container: rgb(233 239 241);
    --mdc-surface-container-high: rgb(228 233 235);
    --mdc-surface-container-highest: rgb(222 227 229);
}