
@{
	ViewData["Title"] = "Privacy Policy";
	Layout = "~/Views/Shared/_LayoutProject.cshtml";
}
<head>
	<title>Trang chủ</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="middle-content container-xxl p-0 mt-5">
			<div class="row layout-top-spacing">
				<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing" style="width: 100%">
					<div class="widget widget-card-four" style="width: 100%; font-size: 30px">
						CHÀO MỪNG BẠN ĐẾN VỚI TRANG WEB ĐẶT LỊCH PHÒNG KHÁM
					</div>
				</div>

			</div>

		</div>

	</div>
</body>

</html>