@font-face {
    font-family: "NotoSans";
    font-stretch: 50% 200%;
    font-style: normal;
    font-weight: 1 1000;
    src: url("/fonts/vNotoSans.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 50% 200%;
    font-style: italic;
    font-weight: 1 1000;
    src: url("/fonts/vNotoSansItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 50% 200%;
    font-weight: 1 1000;
    src: url("/fonts/vNotoSansMono.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 50% 200%;
    font-style: normal;
    font-weight: 1 1000;
    src: url("/fonts/vNotoSerif.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 50% 200%;
    font-style: italic;
    font-weight: 1 1000;
    src: url("/fonts/vNotoSerifItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 50% 200%;
    font-style: normal;
    font-weight: 1 1000;
    src: url("/fonts/vNotoSerifDisplay.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 50% 200%;
    font-style: italic;
    font-weight: 1 1000;
    src: url("/fonts/vNotoSerifDisplayItalic.ttf") format("truetype");
}


@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/sNotoSansBlack.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/sNotoSansExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/sNotoSansBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/sNotoSansSemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/sNotoSansMedium.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sNotoSansRegular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/sNotoSansLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/sNotoSansExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/sNotoSansThin.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/sNotoSansBlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/sNotoSansExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/sNotoSansBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/sNotoSansSemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/sNotoSansMediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/sNotoSansItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/sNotoSansLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 200;
    src: url("/fonts/sNotoSansExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/sNotoSansThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/sNotoSansSemiCondensedBlack.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/sNotoSansSemiCondensedExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/sNotoSansSemiCondensedBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/sNotoSansSemiCondensedMedium.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/sNotoSansSemiCondensedSemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sNotoSansSemiCondensedRegular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/sNotoSansSemiCondensedLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/sNotoSansSemiCondensedExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/sNotoSansSemiCondensedThin.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/sNotoSansSemiCondensedBlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/sNotoSansSemiCondensedExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/sNotoSansSemiCondensedBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/sNotoSansSemiCondensedSemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/sNotoSansSemiCondensedMediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/sNotoSansSemiCondensedItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/sNotoSansSemiCondensedLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 200;
    src: url("/fonts/sNotoSansSemiCondensedExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/sNotoSansSemiCondensedThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/sNotoSansCondensedBlack.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/sNotoSansCondensedExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/sNotoSansCondensedBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/sNotoSansCondensedSemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/sNotoSansCondensedMedium.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sNotoSansCondensedRegular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/sNotoSansCondensedLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/sNotoSansCondensedExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/sNotoSansCondensedThin.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/sNotoSansCondensedBlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/sNotoSansCondensedExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/sNotoSansCondensedBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/sNotoSansCondensedSemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/sNotoSansCondensedMediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/sNotoSansCondensedItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/sNotoSansCondensedLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 200;
    src: url("/fonts/sNotoSansCondensedExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/sNotoSansCondensedThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/sNotoSansExtraCondensedBlack.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/sNotoSansExtraCondensedExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/sNotoSansExtraCondensedBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/sNotoSansExtraCondensedSemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/sNotoSansExtraCondensedMedium.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sNotoSansExtraCondensedRegular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/sNotoSansExtraCondensedLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/sNotoSansExtraCondensedExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/sNotoSansExtraCondensedThin.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/sNotoSansExtraCondensedBlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/sNotoSansExtraCondensedExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/sNotoSansExtraCondensedBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/sNotoSansExtraCondensedSemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/sNotoSansExtraCondensedMediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/sNotoSansExtraCondensedItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/sNotoSansExtraCondensedLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 200;
    src: url("/fonts/sNotoSansExtraCondensedExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSans";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/sNotoSansExtraCondensedThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/sNotoSansMonoBlack.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/sNotoSansMonoExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/sNotoSansMonoBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/sNotoSansMonoSemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/sNotoSansMonoMedium.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sNotoSansMonoRegular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/sNotoSansMonoLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/sNotoSansMonoExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/sNotoSansMonoThin.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/sNotoSansMonoSemiCondensedBlack.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/sNotoSansMonoSemiCondensedExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/sNotoSansMonoSemiCondensedBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/sNotoSansMonoSemiCondensedSemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/sNotoSansMonoSemiCondensedMedium.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sNotoSansMonoSemiCondensedRegular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/sNotoSansMonoSemiCondensedLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/sNotoSansMonoSemiCondensedExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/sNotoSansMonoSemiCondensedThin.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/sNotoSansMonoCondensedBlack.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/sNotoSansMonoCondensedExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/sNotoSansMonoCondensedBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/sNotoSansMonoCondensedSemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/sNotoSansMonoCondensedMedium.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sNotoSansMonoCondensedRegular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/sNotoSansMonoCondensedLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/sNotoSansMonoCondensedExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/sNotoSansMonoCondensedThin.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/sNotoSansMonoExtraCondensedBlack.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/sNotoSansMonoExtraCondensedExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/sNotoSansMonoExtraCondensedBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/sNotoSansMonoExtraCondensedSemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/sNotoSansMonoExtraCondensedMedium.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sNotoSansMonoExtraCondensedRegular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/sNotoSansMonoExtraCondensedLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/sNotoSansMonoExtraCondensedExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSansMono";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/sNotoSansMonoExtraCondensedThin.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/sNotoSerifBlack.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/sNotoSerifExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/sNotoSerifBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/sNotoSerifSemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/sNotoSerifMedium.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sNotoSerifRegular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/sNotoSerifLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/sNotoSerifExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/sNotoSerifThin.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/sNotoSerifBlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/sNotoSerifExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/sNotoSerifBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/sNotoSerifSemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/sNotoSerifMediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/sNotoSerifItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/sNotoSerifLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 200;
    src: url("/fonts/sNotoSerifExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/sNotoSerifThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/sNotoSerifSemiCondensedBlack.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/sNotoSerifSemiCondensedExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/sNotoSerifSemiCondensedBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/sNotoSerifSemiCondensedSemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/sNotoSerifSemiCondensedMedium.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sNotoSerifSemiCondensedRegular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/sNotoSerifSemiCondensedLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/sNotoSerifSemiCondensedExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/sNotoSerifSemiCondensedThin.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/sNotoSerifSemiCondensedBlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/sNotoSerifSemiCondensedExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/sNotoSerifSemiCondensedBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/sNotoSerifSemiCondensedSemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/sNotoSerifSemiCondensedMediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/sNotoSerifSemiCondensedItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/sNotoSerifSemiCondensedLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 200;
    src: url("/fonts/sNotoSerifSemiCondensedExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/sNotoSerifSemiCondensedThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/sNotoSerifCondensedBlack.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/sNotoSerifCondensedExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/sNotoSerifCondensedBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/sNotoSerifCondensedSemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/sNotoSerifCondensedMedium.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sNotoSerifCondensedRegular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/sNotoSerifCondensedLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/sNotoSerifCondensedExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/sNotoSerifCondensedThin.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/sNotoSerifCondensedBlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/sNotoSerifCondensedExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/sNotoSerifCondensedBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/sNotoSerifCondensedSemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/sNotoSerifCondensedMediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/sNotoSerifCondensedItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/sNotoSerifCondensedLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 200;
    src: url("/fonts/sNotoSerifCondensedExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/sNotoSerifCondensedThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/sNotoSerifExtraCondensedBlack.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/sNotoSerifExtraCondensedExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/sNotoSerifExtraCondensedBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/sNotoSerifExtraCondensedSemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/sNotoSerifExtraCondensedMedium.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sNotoSerifExtraCondensedRegular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/sNotoSerifExtraCondensedLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/sNotoSerifExtraCondensedExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/sNotoSerifExtraCondensedThin.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/sNotoSerifExtraCondensedBlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/sNotoSerifExtraCondensedExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/sNotoSerifExtraCondensedBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/sNotoSerifExtraCondensedSemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/sNotoSerifExtraCondensedMediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/sNotoSerifExtraCondensedItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/sNotoSerifExtraCondensedLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 200;
    src: url("/fonts/sNotoSerifExtraCondensedExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerif";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/sNotoSerifExtraCondensedThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/sNotoSerifDisplayBlack.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/sNotoSerifDisplayExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/sNotoSerifDisplayBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/sNotoSerifDisplaySemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/sNotoSerifDisplayMedium.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sNotoSerifDisplayRegular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/sNotoSerifDisplayLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/sNotoSerifDisplayExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/sNotoSerifDisplayThin.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/sNotoSerifDisplayBlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/sNotoSerifDisplayExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/sNotoSerifDisplayBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/sNotoSerifDisplaySemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/sNotoSerifDisplayMediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/sNotoSerifDisplayItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/sNotoSerifDisplayLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 200;
    src: url("/fonts/sNotoSerifDisplayExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/sNotoSerifDisplayThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedBlack.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedSemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedMedium.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedRegular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedThin.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedBlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedSemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedMediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 200;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 87.5%;
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/sNotoSerifDisplaySemiCondensedThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/sNotoSerifDisplayCondensedBlack.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/sNotoSerifDisplayCondensedExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/sNotoSerifDisplayCondensedBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/sNotoSerifDisplayCondensedSemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/sNotoSerifDisplayCondensedMedium.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sNotoSerifDisplayCondensedRegular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/sNotoSerifDisplayCondensedLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/sNotoSerifDisplayCondensedExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/sNotoSerifDisplayCondensedThin.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/sNotoSerifDisplayCondensedBlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/sNotoSerifDisplayCondensedExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/sNotoSerifDisplayCondensedBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/sNotoSerifDisplayCondensedSemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/sNotoSerifDisplayCondensedMediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/sNotoSerifDisplayCondensedItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/sNotoSerifDisplayCondensedLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 200;
    src: url("/fonts/sNotoSerifDisplayCondensedExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 75%;
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/sNotoSerifDisplayCondensedThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedBlack.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedSemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedMedium.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedRegular.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedThin.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedBlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedSemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedMediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 200;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "NotoSerifDisplay";
    font-stretch: 62.5%;
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/sNotoSerifDisplayExtraCondensedThinItalic.ttf") format("truetype");
}