.Container:has(>.ComboBox) {
    box-sizing: border-box;
    border-radius: 24px;
    font-size: 22px;
    font-weight: 525;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
}

.Container>.ComboBox {
    background-color: var(--mdc-surface);
    border: 2px solid var(--mdc-outline-variant);
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--mdc-on-surface);
    display: block;
    font-size: 18px;
    line-height: 24px;
    margin: 4px 0 24px;
    padding: 14px 16px;
    white-space: nowrap;
    width: 100%;
    -webkit-appearance: none;
}

.Container>.ComboBox:is(:hover, :focus) {
    border: 2px solid var(--mdc-surface-tint);
}

.Container:has(>.ComboBox).error {
    display: none;
    font-family: "Roboto Medium";
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin: 0 4px;
    padding: 0 16px;
    width: 100%;
}

.Container>.ComboBox[invalid] {
    border-color: var(--mdc-on-error-container);
    background-color: var(--mdc-error-container);
    margin-bottom: 4px;
}

.Container>.ComboBox[invalid]+.error {
    color: var(--mdc-on-error-container);
    display: block;
    margin-bottom: 4px;
}