.Scheduler.Page {

}

.Scheduler>.title {
    color: var(--mdc-on-primary-container);
    font-size: 45px;
    font-weight: 525;
    line-height: 52px;
    margin: 0;
    margin-bottom: 16px;
    text-align: center;
}
